<!doctype html>
<html lang="{{lang}}">
{{> page/head}}
<body>
  {{> page/header}}
  <main>
    {{> page/intro}}
    {{> page/applications}}
    {{> page/gamma}}
    {{> page/inox}}
    {{> page/contact}}
    <aside>
      <a href="#top">
        <svg class="arrow-up-square" id="arrow-up-square" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
          <rect id="Rectángulo_16" data-name="Rectángulo 16" width="36" height="36" transform="translate(2 2)" fill="#fff"/>
          <path id="arrow-up-square-2" data-name="arrow-up-square" d="M37.5,5A2.5,2.5,0,0,0,35,2.5H5A2.5,2.5,0,0,0,2.5,5V35A2.5,2.5,0,0,0,5,37.5H35A2.5,2.5,0,0,0,37.5,35ZM0,5A5,5,0,0,1,5,0H35a5,5,0,0,1,5,5V35a5,5,0,0,1-5,5H5a5,5,0,0,1-5-5ZM21.25,28.75a1.25,1.25,0,0,1-2.5,0V14.267l-5.365,5.368a1.252,1.252,0,0,1-1.77-1.77l7.5-7.5a1.25,1.25,0,0,1,1.77,0l7.5,7.5a1.252,1.252,0,1,1-1.77,1.77L21.25,14.267Z" fill="#e4002b" fill-rule="evenodd"/>
        </svg>
      </a>
    </aside>
</main>
  {{> page/footer}}
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <!-- script para el efecto del menú-->
  <script src="assets/js/menu.js"></script>
</body>
</html>