:root {

    /* Colors: */
    --color-dark: #393939;
    --color-neutral: #F1F0EF;
    --color-neutral-dark: #E0E0E0;
    --color-black: #000000;
    --color-accent: #E4002B;
    --color-accent-dark: #D30028;
    --color-white: #FFFFFF;

    /* Font/text values */
    --font-family-sf-compact-display-thin: SF Compact Display Thin;
    --font-family-sf-compact-display-regular: SF Compact Display Regular;
    --font-family-sf-compact-display-medium: SF Compact Display Medium;
    --font-family-sf-compact-display-semibold: SF Compact Display Semibold;
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-35: 35px;
    --font-size-55: 55px;
    --character-spacing-0: 0px;
    --line-spacing-12: 12px;
    --line-spacing-17: 17px;
    --line-spacing-20: 20px;
    --line-spacing-25: 25px;
    --line-spacing-26: 26px;
    --line-spacing-28: 28px;
    --line-spacing-38: 38px;
    --line-spacing-60: 60px;
    --text-transform-uppercase: uppercase;
    --text-decoration-none: none;
}

/* Font family */
@font-face {
    font-family: 'SF Compact Display Thin';
    src: local('SF Compact Display Thin'), url('../fonts/sf-compact-display-thin.woff') format('woff');
}

@font-face {
    font-family: 'SF Compact Display Regular';
    src: local('SF Compact Display Regular'), url('../fonts/sf-compact-display-regular.woff') format('woff');
}

@font-face {
    font-family: 'SF Compact Display Medium';
    src: local('SF Compact Display Medium'), url('../fonts/sf-compact-display-medium.woff') format('woff');
}

@font-face {
    font-family: 'SF Compact Display Semibold';
    src: local('SF Compact Display Semibold'), url('../fonts/sf-compact-display-semibold.woff') format('woff');
}

/* Character Styles */
.btn {
    font-family: var(--font-family-sf-compact-display-regular);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-26);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-white);
}

.footer {
    color: var(--color-white);
    text-transform: var(--text-transform-uppercase);
}

.p-link {
    font-family: var(--font-family-sf-compact-display-thin);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-17);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-accent);
    text-decoration: var(--text-decoration-none);
    transition: 1s;
}
.p-link:hover {
    color: var(--color-accent-dark);
} 

.small {
    font-family: var(--font-family-sf-compact-display-thin);
    font-size: var(--font-size-10);
    line-height: var(--line-spacing-12);
    letter-spacing: var(--character-spacing-0);
}

.h3 {
    font-family: var(--font-family-sf-compact-display-semibold);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-accent);
    text-transform: var(--text-transform-uppercase);
}

.h2 {
    font-family: var(--font-family-sf-compact-display-semibold);
    font-size: var(--font-size-22);
    line-height: var(--line-spacing-28);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-dark);
}

p {
    font-family: var(--font-family-sf-compact-display-regular);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-dark);
}

.strong {
    font-family: var(--font-family-sf-compact-display-medium);
}

.h1,
.h2,
.h3 {
    font-family: var(--font-family-sf-compact-display-semibold);
}

.h1 {
    font-size: var(--font-size-35);
    line-height: var(--line-spacing-38);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-black);
}

.h2 {
    font-size: var(--font-size-22);
    line-height: var(--line-spacing-26);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-dark);
}

.h3 {
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-28);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-accent);
    text-transform: var(--text-transform-uppercase);

}

/* Componentes */
.header__hamburger {
    position: fixed;
    top: 2.5rem;
    right: 1rem;
    cursor: pointer;
    /*z-index: 3000;*/
}
.nav-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 50vw;
    background-color: var(--color-accent);
    color: #ffffff;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    /*z-index: 2000;*/
}
.nav-menu__list {
    margin-top: 50px;
}
.nav-menu__list-item {
    list-style-type: none;
    padding-top: 50px;
    text-align: center;
}
.nav-menu__list-item-link {
    color: var(--color-white);
    text-decoration: none
}

.nav-menu__list-item-link:hover {
    color: var(--color-white);
}

.arrow-up-square {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* Utilidades */
.hidden {
    display: none;
}
.spread {
    transform: translate(0);
}

/* efecto underline para los links */
.un {
    display: inline-block;
}

.un::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--color-white);
    transition: 300ms;
}

.un:hover::after {
    width: 100%;
}

.un--light::after {
    background: var(--color-white);
}

/* Estructura */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0px 10px 5px #0000000D;
    z-index: 4;
}

.header__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.top-menu {
    background-color: var(--color-neutral-dark);
}
.top-menu__container {
    display: flex;
    justify-content: end;
    padding-top: 0.43rem;
}

.top-menu__data {
    font-size: var(--font-size-10);
    margin-bottom: 0.43rem;
}

.top-menu__data-link {
    color: var(--color-black);
    text-decoration: none;
}

.top-menu__data-link:hover {
    color: var(--color-accent);
    text-decoration: none;
}

.section {
    position: relative;
    padding-top: 125px;
}

.section--margin-top-lg {
    margin-top: 35px;
}

.section-neutral__container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: var(--color-neutral);
}

.section-neutral__row {
    margin-bottom: 50px;
    align-items: center;
}

.section-neutral__title {
    margin-top: 16px;
}

.section-neutral-notice {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    padding: 13px 20px 0;
}

.section-neutral-notice--warning {
    border: 1px solid var(--color-accent);
}

.section-neutral-notice__icon {
    margin-top: 6px;
    min-width: 16px;
}

/* footer */
.footer {
    background-color: var(--color-accent);
    padding-top: 100px;
}

.footer__container {
    padding-left: 36px;
}

.footer__container-stamp {
    margin-bottom: 60px;
    width: 79px;
}

.footer__stamp {
    max-width: 100%;
    height: auto;
}

.footer__list {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 60px;
}

.footer__list-item {
    font-family: var(--font-family-sf-compact-display-thin);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-17);
    padding-bottom: 8px;
}

.footer__list-item-link {
    color: var(--color-white);
    text-decoration: none;
}

.footer__list-item-link:hover {
    color: var(--color-white);
}

.footer__list-item-with-icon {
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer__list-item-icon {
    vertical-align: top;
}

.footer__copyright {
    font-family: var(--font-family-sf-compact-display-medium);
    padding-left: 24px;
}

.footer__copyright::after {
    content: url('../images/simbolo-chavesbao--m.svg');
    display: block;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 14px;
    text-align: end;
}

/* card IA */
.square-container {
    position: relative;
    border: 1px solid red;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
  }

  .square-container::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .square-container>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .square-container>.btn--accent {
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    /* Centra horizontalmente el botón */
  }



/* Card Chavesbao */

.card-cb {
    /*position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem .5rem 1.5rem;
    background-color: var(--color-white);
}

.card-cb__img {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 72%;
    max-height: 100%;*/
    max-width: 100%;
    height: auto;
    /*padding-top: 1rem;
    padding-bottom: 4rem;*/
}

.card-cb__button {
    /* position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    Centra horizontalmente el botón */
    width: fit-content;
    border: none;
    cursor: pointer;
    /* Centra verticalmente el botón */
    /* Centra verticalmente el botón */
    font-family: var(--font-family-sf-compact-display-regular);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-26);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    text-decoration: var(--text-decoration-none);
    transition: 300ms;
}

.card-cb__button:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-white);
        
}

/* button */
.btn--accent {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.btn--accent:hover {
    background-color: var(--color-accent-dark) !important;
    border-color: var(--color-accent-dark) !important;
}

.btn-accent-submit {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
}

.btn-accent-submit:hover,
.btn-accent-submit:active .btn-accent-submit:focus {
    background-color: var(--color-accent-dark) !important;
    border-color: var(--color-accent-dark) !important;
}

.btn-accent-submit:disabled {
    background-color: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
}

@media (min-width: 992px) {
    p {
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);

    }

    .h1 {
        font-size: var(--font-size-55);
        line-height: var(--line-spacing-60);
    }

    .h2 {
        font-size: var(--font-size-24);
    }

    .h3 {
        font-size: var(--font-size-18);
    }

    /* Utilidades */

    /* efecto underline para los links */
    .un--light::after {
        background: var(--color-accent-dark);
    }
    

    /* Componentes */
    .header {
        position: relative;
        background-color: var(--color-white);
    }
    
    .header__hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        transform: unset;
        width: 100%;
        height: auto;
        background-color: unset;
    }

    .nav-menu__list {
        margin-top: 0;
        padding-left: 0;
    }

    .nav-menu__list-item {
        display: inline-block;
        margin-left: 30px;
        padding-top: 0;
        list-style-type: none;
    }

    .nav-menu__list-item-link {
        color: var(--color-black);
        text-decoration: none
    }
    
    .nav-menu__list-item-link:hover {
        color: var(--color-accent);
        text-decoration: none
    }

    .arrow-up-square {
        position: fixed;
        bottom: 145px;
        right: 45px;
    }

    /* Estructura */
    .header {
        position: fixed;
        background-color: var(--color-white);
    }

    .header__container {
        display: flex;
        align-items: baseline;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
    
    .section {
        padding-top: 125px;
    }

    .section--margin-top-lg {
        margin-top: 35px;
    }

    .section-neutral__container {
        padding-bottom: 125px;
    }

    .footer__list {
        margin-bottom: 0;
    }

    .footer__container-stamp {
        width: 157px;
        margin-bottom: 0;
    }

    .footer__stamp {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1750px) {
    .footer__container {
        display: flex;
        flex-grow: 1;
        padding-left: 0;
        margin-bottom: 152px;
        justify-content: space-between;
    }

    .footer__symbol::after {
        content: none;
        margin-left: 11px;
    }

    .footer__copyright {
        content: none;
        text-align: center;
        padding-bottom: 50px;
    }

    .footer__copyright::after {
        content: none;
    }
}

@media (min-width: 1750px) {
    .footer__container {
        display: flex;
        padding-left: 0;
        margin-bottom: 152px;
        flex-grow: 1;
        justify-content: space-between;
    }

    .footer__container-stamp {
        width: 157px;
        margin-bottom: 0;
    }

    .footer__stamp {
        max-width: 100%;
        height: auto;
    }

    /* eliminar el símbolor CH */
    .footer__symbol {
        position: relative;
        gap: 11px;
    }

    .footer__symbol::after {
        content: url('../images/simbolo-chavesbao.svg');
        position: absolute;
        right: -250px;
        bottom: 186px;
    }

    .footer__copyright {
        text-align: center;
        padding-bottom: 50px;
    }

    .footer__copyright::after {
        content: none;
    }
}