:root {
   
/* Colors: */
--color-dark: #393939;
--color-neutral: #F1F0EF;
--color-neutral-dark: #E0E0E0;
--color-black: #000000;
--color-accent: #E4002B;
--color-accent-dark: #D30028;
--color-white: #FFFFFF;

/* Font/text values */
--font-family-sf-compact-display-thin: SF Compact Display Regular;
--font-family-sf-compact-display-medium: SF Compact Display Medium;
--font-style-normal: normal;
--font-weight-600: 600px;
--font-weight-medium: medium;
--font-weight-normal: normal;
--font-size-10: 10px;
--font-size-14: 14px;
--font-size-16: 16px;
--font-size-18: 18px;
--font-size-22: 22px;
--font-size-24: 24px;
--font-size-35: 35px;
--font-size-55: 55px;
--character-spacing-0: 0px;
--line-spacing-12: 12px;
--line-spacing-17: 17px;
--line-spacing-20: 20px;
--line-spacing-25: 25px;
--line-spacing-26: 26px;
--line-spacing-28: 28px;
--line-spacing-38: 38px;
--line-spacing-60: 60px;
--text-transform-uppercase: uppercase;
--text-decoration-none: none;
}

/* Font family */
@font-face {
    font-family: 'SF Compact Display Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Regular'), url('../fonts/sf-compact-display-regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Compact Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Medium'), url('../fonts/sf-compact-display-medium.woff') format('woff');
    }

/* Character Styles */
.btn {
font-family: var(--font-family-sf-compact-display-thin);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-medium);
font-size: var(--font-size-18);
line-height: var(--line-spacing-26);
letter-spacing: var(--character-spacing-0);
color: var(--color-white);
}
.footer-strong {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-16);
line-height: var(--line-spacing-25);
letter-spacing: var(--character-spacing-0);
color: var(--color-white);
text-transform: var(--text-transform-uppercase);
}
.h3-móvil {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-16);
line-height: var(--line-spacing-28);
letter-spacing: var(--character-spacing-0);
color: var(--color-accent);
text-transform: var(--text-transform-uppercase);
}
.h2-móvil {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-22);
line-height: var(--line-spacing-26);
letter-spacing: var(--character-spacing-0);
color: var(--color-dark);
}
.h1-móvil {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-35);
line-height: var(--line-spacing-38);
letter-spacing: var(--character-spacing-0);
color: var(--color-black);
}
.strong-móvil {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-14);
line-height: var(--line-spacing-20);
letter-spacing: var(--character-spacing-0);
color: var(--color-black);
}
.p-móvil {
font-family: var(--font-family-sf-compact-display-thin);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-14);
line-height: var(--line-spacing-20);
letter-spacing: var(--character-spacing-0);
color: var(--color-black);
}
.footer {
font-family: var(--font-family-sf-compact-display-thin);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-16);
line-height: var(--line-spacing-25);
letter-spacing: var(--character-spacing-0);
color: var(--color-white);
text-transform: var(--text-transform-uppercase);
}
.p-link {
font-family: var(--font-family-sf-compact-display-thin);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-14);
line-height: var(--line-spacing-17);
letter-spacing: var(--character-spacing-0);
color: var(--color-accent);
text-decoration: var(--text-decoration-none);
}
.small {
font-family: var(--font-family-sf-compact-display-thin);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-10);
line-height: var(--line-spacing-12);
letter-spacing: var(--character-spacing-0);
}
/*.strong {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-14);
line-height: var(--line-spacing-2o);
letter-spacing: var(--character-spacing-0);
color: var(--color-dark);
}*/
/*.p {
font-family: var(--font-family-sf-compact-display-thin);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-18);
font-size: var(--font-size-14);
line-height: var(--line-spacing-20);
letter-spacing: var(--character-spacing-0);
color: var(--color-dark);
}*/
.h3 {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-18);
line-height: var(--line-spacing-20);
letter-spacing: var(--character-spacing-0);
color: var(--color-accent);
text-transform: var(--text-transform-uppercase);
}
.h2 {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-22);
line-height: var(--line-spacing-26);
letter-spacing: var(--character-spacing-0);
color: var(--color-dark);
}
/*.h1 {
font-family: var(--font-family-sf-compact-display-medium);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
font-size: var(--font-size-55);
line-height: var(--line-spacing-60);
letter-spacing: var(--character-spacing-0);
color: var(--color-black);
}*/

/**/

p {
    font-family: var(--font-family-sf-compact-display-thin);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-dark);
    }
strong {
    font-family: var(--font-family-sf-compact-display-medium);
}
h1, h2, h3 {
    font-family: var(--font-family-sf-compact-display-medium);
}
.h1 {
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-35);
    line-height: var(--line-spacing-38);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-black);
    }
.h2 {
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-22);
    line-height: var(--line-spacing-26);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-dark);
    }
.h3 {
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-28);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-accent);
    text-transform: var(--text-transform-uppercase);

}

/* Utilidades */
.hidden {
    display: none;
}
/* Estructura */
.header {
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.section {
    padding-bottom: 50px;
}
.section--margin-top-lg {
    margin-top:100px;
}
.section-neutral__container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: var(--color-neutral);
}
.section-neutral__row {
    margin-bottom: 50px;
    align-items: center;
}
.section-neutral__title {
    margin-top: 16px;
}
.section-neutral-notice {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    padding: 10px 20px 16px;
}
.section-neutral-notice--warning {
    border: 1px solid var(--color-accent);
}
.section-neutral-notice__icon {
    margin-top: 6px;
    min-width: 16px;
}
.section-neutral-notice__body {
    margin: 0;
}


/* Card Chavesbao */
.card-CB {
    justify-content: center;
    padding-top: 10px;
    border: none;
    border-radius: 0;
    text-align: center;
    aspect-ratio: auto 1 / 1;
}
.card-CB__image{
    height: auto;
    width: 70%;
    margin: 0 auto;
}
.card-CB__body {
    flex: none;
    padding-bottom: 25px;
}


/* button */
.btn--accent {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}
.btn--accent:hover {
    background-color: var(--color-accent-dark)!important;
    border-color: var(--color-accent-dark)!important;
}

.btn-accent-submit {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
  }
  .btn-accent-submit:hover,
  .btn-accent-submit:active
  .btn-accent-submit:focus {
    background-color: var(--color-accent-dark)!important;
    border-color: var( --color-accent-dark)!important;
  }
  .btn-accent-submit:disabled {
    background-color: var(--color-accent-dark);
    border-color: var( --color-accent-dark);
  }
  

@media  (min-width: 992px) {
    p {
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);

    }
    .h1 {
        font-size: var(--font-size-55);
        line-height: var(--line-spacing-60);
        }
    .h2 {
        font-size: var(--font-size-24);   
    }
    .h3 {
        font-size: var(--font-size-18);   
    }
    .section {
        padding-bottom: 125px;
    }
    .section--margin-top-lg {
        margin-top: 160px;
    }
    .section-neutral__container {
        padding-bottom: 125px;
    }
        /*padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);*/
    }
    
